version: '2'
plugins:
- name: ftl
  wasm:
    url: {{ .Plugin.URL }}
    sha256: {{ .Plugin.SHA256 }}
sql:
- schema:
  {{- range .SchemaPaths }}
  - {{ . }}
  {{- end }}
  queries:
  {{- range .QueryPaths }}
  - {{ . }}
  {{- end }}
  engine: {{ .Engine }}
  codegen:
  - out: .
    plugin: ftl
    options:
      module: {{ .Module }}
      database: {{ .Database }}
