/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.version {
  margin-top: 1rem;
  opacity: 0.8;
}

.version a {
  color: inherit;
  text-decoration: underline;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 4rem;
  color: var(--ifm-color-primary);
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

.featureIcon:hover {
  transform: scale(1.1);
}
